html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
}


h1 {
    color:black;
    font-family: sans-serif;
    font-weight: 300;
}
#button {
    font-size: 2rem;
    color: #2814dc;
    border: .2rem solid black;
    border-radius: 2.5rem;
    width: 10rem;
    height: 5rem;
}

#result {
    color: darkmagenta;
    background-color: darkorange;
}